extends ../layout/index

block contenido 
    div 
        h2 .text-center.text-6xl inicia sesion


h1 Login 

div 
if autenticado 
p Bienvenido al sistema de bienes raices 
else 
p Por favor ingrese tu datos para iniciar sesion