extends ../layout/index 

block contenido 
    div.py-10   
        h2.text-center.font-extrabold.my-10.text-indigo-600 Bienes 
            span.font-normal.text-black Raices 
        h2.text-center.font-extrabold.text-2x1 Crea tu cuenta